* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.logo-container {
    flex: 1;
    display: flex;
}

.logo {
    font-size: 35px;
    color: #4dbf00;
}

.menu-container {
    flex: 6;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.active {
    margin-right: 30px;
    font-weight: bold;
}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* object fit fixes wonky circle */
    object-fit: cover;
}

.profile-text-container {
    margin: 0 15px;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative
}

.fa-sun {
    color: goldenrod
}

.fa-moon {
    color: navy
}

.toggle-ball {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    right: 1px;
    cursor: pointer;
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.side-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container {
    /* calc() is taking the extra 50px off of the top of the page because of the navbar. The screen overflowed without this */
    min-height: calc(100vh - 50px);
    background-color: #151515;
    color: white;
}

.content-container {
    margin-left: 50px;
}

.featured-content {
    height: 50vh;
    padding: 50px;
}

.featured-title {
    width: 200px;
}

.featured-text {
    width: 600px;
    color: lightgray;
    margin: 30px 0;
}

.featured-button {
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-weight: bold;
}

.movie-list-container {
    padding: 10px;
}

.movie-list-wrapper {
    position: relative;
}

.movie-list {
    display: flex;
    height: 250px;
    align-items: center;
}

.movie-list-item-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.movie-list-item {
    margin-right: 35px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.25);
    margin: 0 15px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-text,
.movie-list-item:hover .movie-list-button {
    opacity: 1;
    transition: all .5s ease-in-out;
}

.movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 0px;
    opacity: 0;
}

.movie-list-item-text {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 34%;
    left: 0px;
    width: 90%;
    opacity: 0;
}

.movie-list-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: #4dbf00;
    color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 70px;
    right: 10px;
    color: lightgray;
    opacity: .25;
    cursor: pointer;
}

.arrow-left {
    font-size: 120px;
    position: absolute;
    top: 70px;
    left: 10px;
    color: lightgray;
    opacity: .25;
    cursor: pointer;
}

.arrow:hover {
    opacity: 1;
    transition: all 1s ease-in-out;
}

.arrow-left:hover {
    opacity: 1;
    transition: all 1s ease-in-out;
}

